.font-12 {
  font-size: 12px;
}

.font-16 {
  font-size: 16px;
}

.cursor-pointer {
  cursor: pointer;
}

.queText-color {
  color: #0077cc;
}

.float-none {
  float: none !important;
}

.top-1 {
  top: 3px;
}

.bg-green {
  background-color: #5eba7d;
}

.text-brown {
  color: #a35200 !important;
}
